<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Nearne</title>
	</head>
	<body>
	<p>This is a test</p>
	<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>
	<div id="status"></div>
	<div id="progress"></div>
	<div id="spinner"></div>
	<div id="output"></div>
		<script type='text/javascript'>
			var _status = document.getElementById('status');
			var _progress = document.getElementById('progress');
			var _spinner = document.getElementById('spinner');
			var Module = {
				preRun: [],
				postRun: [],
				print: (function() {
					var element = document.getElementById('output');
					if (element) element.value = ''; // clear browser cache
					return function(text) {
						if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
						console.log(text);
						if (element) {
							element.value += text + "\n";
							element.scrollTop = element.scrollHeight; // focus on bottom
						}
					};
				})(),
				canvas: (function() {
					var canvas = document.getElementById('canvas');
					canvas.addEventListener("webglcontextlost", function(e) {
						alert('WebGL context lost. You will need to reload the page.');
						e.preventDefault();
					}, false);
					return canvas;
				})(),
				setStatus: function(text) {
					if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
					if (text === Module.setStatus.last.text) return;
					var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
					var now = Date.now();
					if (m && now - Module.setStatus.last.time < 30) return; // if this is a progress update, skip it if too soon
					Module.setStatus.last.time = now;
					Module.setStatus.last.text = text;
					if (m) {
						text = m[1];
						_progress.value = parseInt(m[2])*100;
						_progress.max = parseInt(m[4])*100;
						_progress.hidden = false;
						_spinner.hidden = false;
					} else {
						_progress.value = null;
						_progress.max = null;
						_progress.hidden = true;
						if (!text) _spinner.hidden = true;
					}
					_status.innerHTML = text;
				},
				totalDependencies: 0,
				monitorRunDependencies: function(left) {
					this.totalDependencies = Math.max(this.totalDependencies, left);
					Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
				}
			};
			Module.setStatus('Downloading...');
			window.onerror = function() {
				Module.setStatus('Exception thrown, see JavaScript console');
				_spinner.style.display = 'none';
				Module.setStatus = function(text) {
					if (text) console.error('[post-exception status] ' + text);
				};
			};
		</script>
		{{{ SCRIPT }}}
	</body>
</html>
